---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Nice!">
  <div class="flex">
    <div class="mx-auto flex">
      <div class="m-4 max-w-[500px]">
        <div class="flex flex-wrap gap-x-2"></div>
        <h1 class="text-2xl font-bold">Nice!</h1>
        <p>
          You've completed the secondary levels!<br /><br />
          Up next - learn about mixing <a href="/tertiary/" class="underline"
            >tertiary colours!</a
          ><br /><br />
          Just want to mess around with mixing light? Try <a
            href="/sandbox/"
            class="underline">Free play mode</a
          >.
        </p>
      </div>
    </div>
  </div>
</Layout>
