---
import Layout from '../layouts/Layout.astro';
import Game from '../components/game';
import { shuffle } from '../lib/utils';

const goal = [0xffff00, 0xff00ff, 0x00ffff, 0xffff00, 0xffffff, 0x00ffff, 0xffff00, 0xff00ff, 0x00ffff]
const list = [0xff0000, 0x00ff00, 0xff0000, 0x0000ff, 0x00ff00, 0x0000ff, 0xff0000, 0x00ff00, 0xff0000, 0x00ff00, 0x0000ff, 0x00ff00, 0x00ff00, 0xff0000, 0x0000ff, 0x00ff00, 0x0000ff, 0xff0000, 0x0000ff]
---

<Layout title="Light Mixing">
	<main>
				<Game client:only goal={goal} list={shuffle(list)} size={3}/>
	</main>
</Layout>