---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Light Mixing">
	<main>
		<div class="flex">
			<div class="flex flex-col mx-auto space-y-2 my-4 px-4">
				<h1 class="text-2xl uppercase font-bold">Light Mixing Game</h1>
				<p>A game I made because I wanted to learn about mixing light (as opposed to mixing paint).</p>
				<h2 class="text-xl uppercase font-semibold">Play</h2>
				<a href="/secondary" class="px-2 py-1 border hover:underline">Easy (secondary colours)</a>
				<a href="/tertiary" class="px-2 py-1 border hover:underline">Hard (tertiary colours)</a>
			</div>
		</div>
	</main>
</Layout>