---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Light Mixing">
  <main>
    <div class="flex">
      <div class="mx-auto my-4 flex flex-col space-y-2 px-4">
        <h1 class="text-2xl font-bold uppercase">Light Mixing Game</h1>
        <p>
          A game I made because I wanted to learn about mixing light (as opposed
          to mixing paint).
        </p>
        <h2 class="text-xl font-semibold uppercase">Play</h2>
        <a href="/tutorial/click/" class="border px-2 py-1 hover:underline"
          >Tutorial</a
        >
        <a href="/secondary/white/" class="border px-2 py-1 hover:underline"
          >Secondary colours</a
        >
        <a href="/tertiary/red-base/" class="border px-2 py-1 hover:underline"
          >Tertiary colours</a
        >
        <a href="/sandbox/" class="border px-2 py-1 hover:underline"
          >Free play</a
        >
      </div>
    </div>
  </main>
</Layout>
