---
import Layout from '../layouts/Layout.astro';
import Game from '../components/game';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="flex">
			<div class="flex mx-auto">
				<Game client:only/>
			</div>
		</div>
	</main>
</Layout>