---
import Layout from '../layouts/Layout.astro';
import Game from '../components/game';
---

<Layout title="Light Mixing">
	<main>
				<Game client:only tertiary={true} sandbox={true}/>
	</main>
</Layout>