---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Finito!">
  <div class="flex">
    <div class="mx-auto flex">
      <div class="m-4 max-w-[500px]">
        <div class="flex flex-wrap gap-x-2"></div>
        <h1 class="text-2xl font-bold">Finito</h1>
        <p>
          That's all for now!<br /><br />
          Want me to make more levels? <a
            href="mailto:hello@rohannelson.com"
            class="underline">Get in touch</a
          ><br /><br />
          Just want to mess around with mixing light? Try <a
            href="/sandbox/"
            class="underline">Free play mode</a
          >.
        </p>
      </div>
    </div>
  </div>
</Layout>
